<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	</typeAliases>
	<!-- 拦截器配置开始 -->
	<plugins>
		<plugin interceptor="com.imwj.msg.config.MybatisSqlOutInterceptor" />
	</plugins>
	<mappers>
	</mappers>
</configuration>